/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lilita+One&display=swap');

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    /* scroll-behavior: smooth; */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Exo 2", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* ESTILO DE HEADER */
header {
    padding: 2%;
    text-align: center;
    color: #F4F1BB;
    text-shadow: -3px 5px 15px rgb(233, 44, 44);
    background-color: #ED6A5A;
}

/* ESTILO DE MAIN */
main ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    font-family: "Exo 2", sans-serif;
}

main ul.breadcrumb li {
    display: inline;
}

main ul.breadcrumb li+li::before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

main ul.breadcrumb a:link,
main ul.breadcrumb a:visited {
    text-decoration: none;
    color: black;
}

main ul.breadcrumb li a.active {
    color: #4cafa7;
    font-weight: bold;
}

main ul.breadcrumb li a.active:hover {
    color: #39777f;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 3% 8%;
    background-color: #E6EBE0;
    text-align: justify;
}

main h3,
h5 {
    padding: 15px 0;
    filter: opacity(0.5);
}

main div div {
    width: auto;
    margin: 15px;
}

main div div img {
    max-width: 120px;
    width: auto;
    max-height: 120px;
    height: auto;
}

main div div img:hover {
    cursor: zoom-in;
}

main div {
    display: flex;
    width: 100%;
    justify-content: center;
}

main div.fotos {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

section {
    align-self: center;
    display: flex;
    width: 50%;
    height: 30vh;
    margin: 3%;
}

section img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.5s ease;
}

section img:hover {
    cursor: grabbing;
    width: 30%;
    opacity: 1;
    filter: contrast(130%);
}

/* ESTILO DE FOOTER */
footer {
    padding: 2%;
    background-color: #ED6A5A;
    font-size: x-small;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #F4F1BB;
    text-shadow: 3px 3px 5px red;
}

footer a:hover {
    cursor: n-resize;
    text-shadow: 0 5px 3px purple;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 40%;
    background-color: #fa9f28;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 200%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1000px) {
    .tooltip-container {
        position: relative;
        display: inline-block;
    }

    .tooltip-text {
        visibility: hidden;
        width: 60%;
        background-color: #c228fa;
        color: #000000;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 200%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip-container:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
        filter: contrast(1.2);
    }
}

/* ESTILO DE NAVEGACIÓN */

nav {
    display: flex;
    background-color: #9BC1BC;
    width: 100%;
    justify-content: space-around;
    padding: 15px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

nav a {
    padding: 2px;
    border-radius: 7px;
}

nav a:link,
nav a:visited {
    color: #5D6063;
    text-decoration: none;
}

nav ul li ul li:hover a {
    text-decoration: underline;
}

nav li {
    list-style: none;
}

.menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    z-index: 2;

}

.desplegable {
    width: 10%;
    padding: 1%;
    position: relative;
}

.desplegable:hover .submenu {
    display: flex;
    flex-direction: column;
    background: #9BC1BC;
}

.boton-menu {
    display: inline-block;
    background-color: #9BC1BC;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-size: 24px;
    padding: 1%;
    width: 140px;
    cursor: pointer;
    margin: 5px;
    position: relative;
    z-index: 2;
}

.boton-menu:hover:after {
    opacity: 1;
    right: 0px;
    background-color: rgb(143, 246, 255);
    color: #0b7dda;
}

.submenu {
    z-index: 1;
    display: none;
    flex-direction: column;
    background: #9BC1BC;
    padding-top: 25px;
    position: absolute;
    top: 35px;
    left: 0px;
    width: 155px;
    height: 70vh;
    overflow-y: scroll;
}

.submenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #FFF;
    padding: 2%;
    margin: 10px;
}

.submenu li:last-of-type {
    border-bottom: none;
}

.submenu li:hover {
    background-color: rgb(63, 243, 228);
}

/* ESTILO BARRA NUMEROS */

ul.paginacion {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.paginacion li {
    display: inline;
}

ul.paginacion li a {
    color: black;
    float: left;
    padding: 9px 18px;
    text-decoration: none;
}

ul.paginacion li a.active {
    background-color: #4cafaf;
    color: white;
}

ul.paginacion li a.active:hover {
    background-color: #397d7f;
}

ul.paginacion li a:hover:not(.active) {
    background-color: #ddd;
}

.fotos ul {
    align-self: center;
}